<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/screen.css" />
    <title>prog68 - $title$</title>
  </head>
  <body>
    <header id="main-header">
      <div id="logo">
        <a href="/">prog68</a>
      </div>
    </header>

    <aside id="page-menu">
      <ul>
        <li> <a href="/archive.html">Lista de entradas</a>
        </li>
      </ul>
    </aside>

    <article id="content">
      <h1>$title$</h1>

      <div id="content-body">
        $body$
      </div>
    </article>

    <footer id="main-footer">
    </footer>
  </body>
</html>
